<section class="formula_student" id="formula_student_one">
  <div class="container text-white " id="formula-student-cnt">
        <h1><strong>WHAT IS FORMULA<br>STUDENT?</strong></h1>
        <br>
        <p class="formula-text">
          Formula Student is the most prestigious engineering competition for students with over 600 university teams, from all over the world, competing in it. The aim of the competition is the education and development of students through the design and manufacturing of a competitive racing vehicle, and the success of the team is judged by renowned engineers from the automotive industry as well as the motor sport industry.
        </p>
  </div>
</section>
<section class="formula_student" id="formula_student_two">
  <div class="container text-center text-white" id="formula-student-cnt-two">
  <br>
    <h2> DO YOU THINK WE HYPE SUPRA SAEINDIA</h2>
    <br>
    <p class="formula-text-two">
       Here's what the tech giants have to say
    </p>

    <div class="container" id="talk-cnt">
      <%= image_tag("cv-raman.png", class: "talk-pic mt-2") %>
      <p class="talk-text">
        Supra SAE India grows year on year. Seeing a constant inflow of dedicated, creative, passionate budding engineers with every edition. This just keeps improving. A good sign for the Auto & Manufacturing Industry!
      </p>
      <hr>
      <p class="talk-name">
        Raman C V
      </p>
      <p class="text-muted">
        CTO at Maruti Suzuki India Limited 
      </p>
    </div>
    <br>
    <br>
    <div class="container" id="talk-cnt">
      <%= image_tag("oliver-ferschke.jpg", class: "talk-pic mt-2") %>
      <p class="talk-text">
        The BMW Group is very enthusiastic about its involvement in the Formula Student. The challenges the teams face during the course of a season are also always faced by us.
      </p>
      <hr>
      <p class="talk-name">
        Oliver Ferschke
      </p>
      <p class="text-muted">
        BMW 
      </p>
    </div>
  </div>
</section>
<section class="formula_student" id="formula_student_three">
  <div class="container text-white mt-3 text-center" id="static-cnt">
    <h2 class="static-heading btn btn-primary" id="static-btn">STATIC EVENTS</h2>
    <div class="row mt-3 justify-content-center">
      <div class="col-lg-4">
        <div class="card shadow mt-2" id="event-card">
          <div class="card-body text-white">
            <h4 class="card-title" id="event-heading">
              DESIGN EVENT
            </h4>
            <hr>
            <p class="card-text" id="event-detail">The most demanding static event is defending your project. Participants must be ready to explain why they used selected materials, components and systems, why they assembled them in that way and how do their solutions fit into the market demand. This is discussed with engineers from the most prestigious automotive and motor sport companies. The vehicle must illustrate the best engineering solution.</p>

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card shadow mt-2" id="event-card">
          <div class="card-body text-white">
            <h4 class="card-title" id="event-heading">COST REPORT</h4>
            <hr>
            <p class="card-text" id="event-detail">Students demonstrate their meticulousness by composing a detailed report covering all expenses related to materials, production, and assembly. Points are earned through a holistic assessment of the vehicle's final score and the exceptional quality of the report, encouraging a comprehensive evaluation process that values both practical performance and effective communication. Student have to mention BOM in the cost report.</p>

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card shadow mt-2" id="event-card">
          <div class="card-body text-white">
            <h4 class="card-title" id="event-heading">BUSINESS PLAN PRESENTATION</h4>
            <hr>
            <p class="card-text" id="event-detail">
              The business presentation aims to showcase a compelling business case to potential investors, highlighting the sales potential of a racing vehicle. It covers key features, advantages, design process, production capabilities, and enticing business offers, providing a comprehensive overview to attract investment. Basically students have to sell their vehicle in front of judge.Business Reports contains Break Even Analysis.            
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="formula_student" id="formula_student_four">
  <div class="container text-white mt-3 text-center" id="static-cnt">
    <h2 class="static-heading btn btn-primary" id="static-btn">DYNAMIC EVENTS</h2>
    <div class="row mt-3 justify-content-center">
      <div class="col-lg-4">
        <div class="card shadow mt-2" id="event-card">
          <div class="card-body text-white">
            <h4 class="card-title" id="event-heading">
              ACCELERATION
            </h4>
            <hr>
            <p class="card-text" id="event-detail">
              The acceleration event evaluates the car's acceleration in a straight line on flat pavement. This discipline focuses on the engine and transmission performances, as well as the suspension needed to achieve maximum tire grip. The acceleration score is based upon the corrected elapsed time. Elapsed time will be measured from the time the car crosses the starting line until it crosses the finish line
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card shadow mt-2" id="event-card">
          <div class="card-body text-white">
            <h4 class="card-title" id="event-heading">SKID PAD</h4>
            <hr>
            <p class="card-text" id="event-detail">
              The objective of the skid-pad event is to measure the car's cornering ability on a flat surface while making a constant-radius turn. Driven on a track in the shape of the number 8, giving the teams a chance to show how their vehicle behaves when cornering. The vehicle must exhibit good lateral acceleration to pull a figure-of-eight in the least amount of time. Each circle will be marked with a chalk line.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card shadow mt-2" id="event-card">
          <div class="card-body text-white">
            <h4 class="card-title" id="event-heading">AUTOCROSS </h4>
            <hr>
            <p class="card-text" id="event-detail">
              The objective of the autocross event is to evaluate the car's maneuverability and handling qualities on a tight course without the hindrance of competing all the vehicles. The autocross course will combine the performance features of acceleration, braking, and cornering into one event. This race is designed to train for Formula 1, testing and handling. Average speeds should be 40 km/hr (25 mph) to 48 km/hr (30 mph).
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card shadow mt-2" id="event-card">
          <div class="card-body text-white">
            <h4 class="card-title" id="event-heading">ENDURANCE </h4>
            <hr>
            <p class="card-text" id="event-detail">
              The Endurance Event is designed to evaluate the overall performance of the car and to test the car's durability and reliability. Fuel consumption is monitored during the Endurance race 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>