.navbar {
  background-color: black !important;
}

#nav-link {
  font-size: 120%;
  padding: 30px !important;
}
#nav-link:hover {
  color: aqua !important;
}
.navbar-brand {
  font-family: "Rubik", sans-serif !important;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  padding-right: 10%;
}

.navbar-brand {
  white-space: nowrap; 
}

@media (max-width: 768px) {
  .navbar-brand {
    white-space: normal; 
    word-wrap: break-word; 
  }
}


#footer-container {
  background-color: rgba($color: #6b6b6b, $alpha: 1) !important;
}
.soc-link {
  padding: 10px;
  color: rgb(216, 194, 194);
}
.soc-link:hover {
  color: white;
}

.formula_student {
  background-size: cover;
  background-position: center;
  display: flex;
}

#formula_student_one {
  background-image: asset-url("formula_student_one.jpg");
}
#formula_student_two {
  background-image: asset-url("formula_student_two.jpg");
}
#formula_student_three {
  background-image: asset-url("formula_student_three.jpg");
}
#formula_student_four {
  background-image: asset-url("formula_student_four.jpg");
}
#home-page{
  background-image: asset-url("home-image.jpg");
}

#formula-student-cnt {
  margin-right: 0 !important;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.6) !important;
}
#formula-student-cnt-two {
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.formula-text {
  font-size: 198.6%;

  text-align: left;
}

.formula-text-two {
  font-size: 200%;
}

h1 {
  text-align: left;
}

#talk-cnt {
  background-color: white;
  color: black;
}
.talk-text {
  font-size: 130%;
  padding: 10px;
}
.talk-pic {
  height: 150px;
  width: auto;
  float: left;
}
.talk-name {
  font-size: 110%;
}
.static-heading {
  font-family: "Rubik", sans-serif;
  font-size: 3rem;
  font-weight: 300;
}
#event-heading {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
#event-detail {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
}
#event-card {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
#static-btn {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

#teamcard:hover .imgBx {
  bottom: 80px;
}

#teamcard .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.member-head {
  font-size: 38px;
  text-decoration: underline;
  letter-spacing: 4px;
}
.member {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: sans-serif;
}
.box {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}
#teamcard {
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
#teamcard:before,
#teamcard:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -1;
}
#teamcard:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
#teamcard:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

#teamcard .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

#teamcard .details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-transform: uppercase;
}

#teamcard .details h2 span {
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
}
.one-head {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-family: cursive;
  color: #080808;
}

.one h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.one h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #b80000;
}
.one h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}
.logo {
  height: 110px;
}
.white-button {
  background-color: white !important;
}
.car-details-h3 {
  color: #767676;
  font-weight: 300;
  text-align: left;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
}
.car-details-p{
  color: #767676;
  text-align: left;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
}
.car-image{
  max-width: 100%;
  height: auto;
}
.dropdown-menu{
  background-color: black !important;
}
.dropdown-divider{
  color: white !important;
}
.home-h-one{
  font-size: 4rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}
.home-h-three{
  font-size: 4rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}
.home-card-h-two{
  font-size: 6rem;
  font-family: 'Rubik', sans-serif;
}
.home-card-h-three{
  font-size: 1.4rem;
  font-family: 'Rubik', sans-serif;
  color: #767676;
}
.home-card-p{
  font-size: 1.4rem;
  font-family: 'Rubik', sans-serif;
}
#home-page-two{
  background: #232323 !important;
}