<section id="formula-index">
  <div class="container">
    <div class="row justify content centehome-h-one text-center">
      <h1 class="home-h-one mt-5 text-white text-center">List of Cars</h1>
        <% @cars.each do |car| %>
          <%= link_to car.name, car_path(car), class: "static-heading mt-3 btn btn-primary", id: "static-btn"  %></li>
        <% end %>
    </div>
  </div>  
</section>








